code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.3;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: hsl(231, 15%, 15%);
  border-radius: 10px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ff79c6;
}

.token.function-name,
.token.function {
  color: #50fa7b;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #ffb86c;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #ff79c6;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #f1fa8c;
}

.token.operator,
.token.entity,
.token.url {
  color: #8be9fd;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #ff5555;
}
